{
    (
        modifiers: [],
        key: "Print",
        description: Some("screenshot"),
    ): Spawn("sh -c 'QT_QPA_PLATFORM=wayland flameshot gui'"),
    (
        modifiers: [Super],
        key: "t",
        description: Some("terminal"),
    ): Spawn("cosmic-term"),
    (
        modifiers: [Super],
        key: "b",
        description: Some("browser"),
    ): Spawn("flatpak run com.brave.Browser"),
    (
        modifiers: [Super],
        key: "f",
        description: Some("file manager"),
    ): Spawn("dolphin"),
    (
        modifiers: [Super],
        key: "n",
        description: Some("notebook"),
    ): Spawn("cosmic-edit"),
    (
        modifiers: [Super],
        key: "k",
        description: Some("kiro"),
    ): Spawn("/home/shanid/Downloads/kiro-ide-0.11.130-stable-linux-x64/Kiro/kiro"),
    (
        modifiers: [Super],
        key: "Space",
        description: Some("launcher"),
    ): Spawn("cosmic-launcher"),
    (
        modifiers: [Super],
        key: "c",
        description: Some("clipboard"),
    ): Spawn("copyq toggle"),
    (
        modifiers: [Super],
        key: "Escape",
        description: Some("logout"),
    ): Spawn("pkill -9 cosmic-session"),
    (
        modifiers: [Super],
        key: "Delete",
        description: Some("shutdown"),
    ): Spawn("systemctl poweroff"),
    (
        modifiers: [],
        key: "Pause",
        description: Some("pause media"),
    ): Spawn("playerctl play-pause"),
    (
        modifiers: [Super],
        key: "p",
        description: Some("pause media backup"),
    ): Spawn("playerctl play-pause"),
    (
        modifiers: [],
        key: "End",
        description: Some("lock screen"),
    ): Spawn("loginctl lock-sessions"),
    (
        modifiers: [Super],
        key: "slash",
        description: Some("system monitor"),
    ): Spawn("cosmic-term -e btop"),
}
